body {
  font-family: Arial, sans-serif;
  padding: 30px;
  margin: 0;
}

#title {
  text-align: center;
}

#task-input {
  margin: 0 auto;
  display: block;
  max-width: 600px;
  width: calc(100% - 20px);
  resize: none;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

#start-button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  background-color: #57C5B6;
  color: white;
  border: none;
  border-radius: 5px;
}

#start-button:hover {
  cursor: pointer;
  background-color: #57C5B6;
}
