body {
  font-family: 'Roboto', sans-serif;
  padding: 0 30px 30px;
  margin: 0;
  background-color: #BFEFFF;
}

#title {
  text-align: center;
}

textarea {
  margin: 0 auto;
  display: block;
  max-width: 800px;
  width: calc(100% - 20px);
  resize: vertical;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

#task-input, #notes-input {
  background-color: #B0E0E6;
}

#notes-input {
  margin-top: 20px;
}

#start-button {
  display: block;
  padding: 10px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
}

#skip-button {
  display: block;
  padding: 10px;
  font-size: 18px;
  background-color: #19A7CE;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.play {
  background-color: #57C5B6;
}

.play:hover {
  background-color: #3eb3a3;
}

.pause {
  background-color: #EA5455;
}

.pause:hover {
  background-color: #e52a2b;
}

#skip-button:hover {
  background-color: #158eaf;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 600px;
  width: calc(100% - 20px);
}

button {
  width: 100px;
}

button:hover {
  transition: background-color 0.2s ease-in-out;
}

button:not(:hover) {
  transition: background-color 0.2s ease-in-out;
}

button:active {
  transform: scale(0.95);
  transition: 0.2s ease-in-out;
}

#time {
  font-size: 150px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-top: 0px;
}

#title {
  margin-top: -5px;
  font-size: 50px;
}
